<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件-->
<mapper namespace="com.video.mapper.CollectionsMapper">
 <select id="getCollections" resultType="com.video.dto.CollectionInfoDto">
     SELECT
         c.id as cId,
         v.id,
         v.video_name,
         v.cover,
         v.fragment
     FROM
         videos v
             LEFT JOIN collections c ON c.video_id = v.id
     WHERE
         c.user_id = #{id}
 </select>
</mapper>